page-data-entry-form {
  .entry-form-container {
    overflow: auto;
    max-height: 450px;
    min-height: 300px;
  }

  .item-md.item-block .item-inner {
    padding-right: 0px;
    border-bottom: 0px solid #e6e6e7;
  }

  .item-ios.item-block .item-inner {
    padding-right: 0px;
    border-bottom: 0px solid #e6e6e7;
  }

  .lock-form {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    font-weight: bold;
    padding: 5px;
  }

  .completed-form {
    color: #856404;
    background-color: #b7ffae;
    border-color: #b7ffae;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 5px;
  }

  .synced {
    background-color: green;
    color: #fff;
  }

  .not-synced {
    background-color: red;
    color: #fff;
  }

  .note {
    background-color: #eee !important;
  }
}
