<!--
*
* Copyright 2015 HISP Tanzania
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*
* @since 2015
* @author Joseph Chingalo profschingalo@gmail.com>
*
*
-->
<ion-header>
  <ion-navbar [color]="(colorSettings$ |async).colorAttributes.main">
    <ion-title>
      <span [translate]="'Data entry form'"></span>
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- class="item-card"
          full
          padding-bottom
          padding-top -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="entryFormParameter">
          <div (tap)="goBack()">
            <table class="table table-bordered table-striped">
              <tr>
                <th class="text-left note">
                  <span [translate]="'Organisation Unit'"></span>
                </th>
                <td class="text-muted" colspan="4">
                  <span>{{ entryFormParameter.orgUnit.name }}</span>
                </td>
              </tr>
              <tr>
                <th class="text-left note">
                  <span [translate]="'Tool/Form'"></span>
                </th>
                <td class="text-muted" colspan="4">
                  <span>{{ entryFormParameter.dataSet.name }}</span>
                </td>
              </tr>
              <tr>
                <th class="text-center note">
                  <span [translate]="'Period'"></span>
                </th>
                <td class="text-muted" colspan="4">
                  <span>{{ entryFormParameter.period.name }}</span>
                </td>
              </tr>
              <tr>
                <th class="text-muted note">
                  <span [translate]="'Synced'"></span>
                </th>
                <td class="success synced">
                  <strong><span>{{ storageStatus.online }}</span></strong>
                </td>
                <th class="text-muted note">
                  <span [translate]="'Not Synced'"></span>
                </th>
                <td class="danger not-synced">
                  <strong><span>{{storageStatus.offline }}</span></strong>
                </td>
              </tr>
              <br />
              <tr *ngIf="isPeriodLocked">
                <td class="lock-form" colspan="4">
                  <span padding-left>
                    <span
                      [translate]="'Entry form has been locked for this period'"
                    ></span>
                  </span>
                </td>
              </tr>
              <tr *ngIf="isDataSetCompletedAndLocked">
                <td class="completed-form" colspan="4">
                  <span padding-left>
                    <span
                      [translate]="'Entry form has been COMPLETED for this period'"
                    ></span>
                  </span>
                </td>
              </tr>
              <br />
              <tr *ngIf="isDataSetCompletedAndLocked">
                <th class="note">Completed By</th>
                <td>{{ dataSetsCompletenessInfo?.storedBy }}</td>
                <th class="note">Completion Date</th>
                <td>{{ dataSetsCompletenessInfo?.date }}</td>
              </tr>
              <br>
            </table>
            <!-- <b>
              <span [translate]="'Organisation unit'"></span>
            </b>
            : {{ entryFormParameter.orgUnit.name }}
            <br />
            <b>
              <span [translate]="'Form'"></span>
            </b>
            : {{ entryFormParameter.dataSet.name }}
            <br />
            <b>
              <span [translate]="'Period'"></span>
            </b>
            : {{ entryFormParameter.period.name }}
            <br />
            <span *ngIf="!isLoading">
              <b>
                <span [translate]="'Synced'"></span>
              </b>
              : {{ storageStatus.online }}
              <b>
                <span [translate]="'Not synced'"></span>
              </b>
              : {{storageStatus.offline }}</span
            > -->
            <!-- <span *ngIf="isPeriodLocked">
              <br /><br />
              <span padding-left class="item-card lock-form">
                <span
                  [translate]="'Entry form has been locked for this period'"
                ></span>
              </span>
            </span>
            <span *ngIf="isDataSetCompletedAndLocked">
              <br /><br />
              <span padding-left class="item-card completed-form">
                <span
                  [translate]="'Entry form has been COMPLETED for this period'"
                ></span>
              </span>
            </span> -->
          </div>
          <aggregate-conflict-handler
            [isPeriodLocked]="isPeriodLocked"
            (conflictFoundAction)="scrollEntryFormUp()"
            (mergeDataAction)="onMergingWithOnlineData($event)"
            (dataSetCompletenessInfoAction)="onDataSetCompletenessInformattionLoaded($event)"
            [(dataValuesObject)]="dataValuesObject"
            [orgUnitId]="entryFormParameter.orgUnit.id"
            [dataSetId]="entryFormParameter.dataSet.id"
            [period]="entryFormParameter.period.iso"
            [dataDimension]="this.entryFormParameter.dataDimension"
          ></aggregate-conflict-handler>
          <div
            *ngIf="!isLoading && indicators && indicators.length > 0 &&  entryFormType !== 'CUSTOM'"
          >
            <div
              (click)="viewEntryFormIndicators(indicators)"
              class="item-card"
              color="font-color"
            >
              <ion-item>
                <span [translate]="'Available indicators'"></span>
                <ion-badge color="icon-color" item-end
                  >{{ indicators.length }}</ion-badge
                >
              </ion-item>
            </div>
          </div>
        </div>
        <div *ngIf="isLoading">
          <loading
            [loadingMessage]="loadingMessage"
            [loadingSize]="'large'"
          ></loading>
        </div>
        <div *ngIf="!isLoading">
          <div *ngIf="entryFormType && entryFormType === 'CUSTOM'">
            <custom-data-entry-form
              [isValidationProcessRunning]="isValidationProcessRunning"
              (validatingEntryForm)="onValidatingDateEntry($event)"
              [indicators]="indicators"
              [isPeriodLocked]="isPeriodLocked"
              [isDataSetCompletedAndLocked]="isDataSetCompletedAndLocked"
              [dataEntryFormDesign]="dataEntryFormDesign"
              (onCustomFormInputChange)="updateData($event)"
              (onUpdateDataSetCompleteness)="updateDataSetCompleteness()"
              (onViewUserCompletenessInformation)="viewUserCompletenessInformation($event)"
              [data]="dataValuesObject"
              [entryFormType]="'aggregate'"
              [entryFormSections]="entryFormSections"
              [dataUpdateStatus]="dataUpdateStatus"
              [isDataSetCompleted]="isDataSetCompleted"
              [isDataSetCompletenessProcessRunning]="isDataSetCompletenessProcessRunning"
              [dataSetsCompletenessInfo]="dataSetsCompletenessInfo"
            ></custom-data-entry-form>
          </div>
          <div *ngIf="entryFormType && entryFormType != 'CUSTOM'">
            <div *ngIf="entryFormSections && entryFormSections.length === 0">
              <empty-list-notification
                [emptyListMessage]="'The is no field associated with this entry form, Please contact our help desk'"
              >
              </empty-list-notification>
            </div>
            <default-data-entry-form
              [isValidationProcessRunning]="isValidationProcessRunning"
              (validatingEntryForm)="onValidatingDateEntry($event)"
              [isPeriodLocked]="isPeriodLocked"
              (onPaginationChange)="changePagination($event)"
              (onUpdateDataSetCompleteness)="updateDataSetCompleteness()"
              (onViewUserCompletenessInformation)="viewUserCompletenessInformation($event)"
              (onChange)="updateData($event)"
              (onSectionListOpen)="openSectionList()"
              [entryFormType]="entryFormType"
              [isDataSetCompletenessProcessRunning]="isDataSetCompletenessProcessRunning"
              [currentUser]="currentUser"
              [icons]="icons"
              [isDataSetCompleted]="isDataSetCompleted"
              [dataSetsCompletenessInfo]="dataSetsCompletenessInfo"
              [dataValuesSavingStatusClass]="dataValuesSavingStatusClass"
              [dataValuesObject]="dataValuesObject"
              [pager]="pager"
              [entryFormSections]="entryFormSections"
            ></default-data-entry-form>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
